div#caart-stikcy-cart-main {
    position: fixed;
    z-index: 2;
    cursor: pointer;
}

div#caart-stikcy-cart-main #caart-sticky-div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#caart-stikcy-cart-main #caart-sticky-div svg {
    height: 50px;
    width: 50px;
}

div#caart-stikcy-cart-main span#caart-sticky-qty {
    position: absolute;
    top: 0;
    right: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
}